---
title: "5 Things we learned from you in recent UX research"
author: Emily von Hoffmann
author_gitlab: evhoffmann
author_twitter: emvonhoffmann
categories: unfiltered
image_title: '/images/blogimages/seven-things-we-learned-from-you-in-recent-ux-research.jpg'
description: "How you use Snippets, whether to rename Auto DevOps, how to improve our billing process, and more."
tags: UX
twitter_text: "What we learned from you in recent UX research"
postType: product
merch_sidebar_destination_url: "/community/gitlab-first-look/"
merch_sidebar_image_source: "/images/merchandising-content/gitlab-first-look.png"
merch_sidebar_body_title: "GitLab First Look"
merch_sidebar_body_content: "Make every release the best release ever."
merch_sidebar_cta_text: "Sign up"
---

{::options parse_block_html="true" /}

<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>&nbsp;&nbsp;
This blog post is [Unfiltered](/handbook/marketing/blog/unfiltered/#legal-disclaimer)
&nbsp;&nbsp;<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
{: .alert .alert-webcast}

This past quarter, the UX research team was charged with supporting some big [OKRs](https://about.gitlab.com/company/okrs/):

* [Create](https://gitlab.com/gitlab-com/www-gitlab-com/issues/4932) products and experiences that users love and value.
* Complete at least 5 qualitative interviews per Product Manager — part of scaling UX research across the org, which we’ll [continue](https://gitlab.com/gitlab-org/gitlab-design/issues/665) next quarter.
* [Implement](https://gitlab.com/gitlab-org/ux-research/issues/362) a pilot of customer satisfaction surveys.

Throughout all of it, researchers continued working to learn more about each [stage group](https://about.gitlab.com/handbook/product/categories/). Here are some of the highlights.

### 1. Snippets can be an extremely useful knowledge base

[Using Snippets](https://gitlab.com/gitlab-org/ux-research/issues/339) to share commonly used code throughout an organization (fixes, install scripts, social icons, etc) can be beneficial for consistency, saving time on searching for solutions, and onboarding new or junior team members.

[Group-level Snippets](https://gitlab.com/gitlab-org/gitlab/issues/15958), [Multi-file Snippets](https://gitlab.com/gitlab-org/gitlab/issues/14340), and [Version control for Snippets](https://gitlab.com/gitlab-org/gitlab/issues/14228) are highly upvoted issues in GitLab’s issue tracker.

Check out the [full results](https://gitlab.com/groups/gitlab-org/-/epics/2030).



### 2. After considering other options, you prefer the name “Auto DevOps”
We surveyed nearly 200 developers to evaluate 4 terms: ‘Auto Config’, ‘Auto Pipelines’, ‘NoOps’, and ‘Auto DevOps’ (our existing name). The term that did best both in terms of 1) allowing users to accurately predict what the feature does and 2) was considered appropriate for the feature’s definition (i.e. a feature that automatically detects, builds, tests, deploys, and monitors you applications) was Auto DevOps, with Auto Pipelines as a very close second. Consequently, it was decided to stick with Auto DevOps.

[Full results](https://gitlab.com/gitlab-org/ux-research/issues/243#note_224667453)

### 3. You wanted a new flow for enabling security checks
Based on insights gathered in a previous usability study around users’ mental model, the Secure team created a new flow for enabling security checks, which allows users to configure security checks from the UI itself. We then tested the new flow and saw significant improvement - all participants were able to complete the task, as opposed to only 1 out of 5 before the new design was created. Yay for evidence-based design!

[Full results](https://docs.google.com/presentation/d/1blpG78sBTNYcFyP1DH4gNjmJSB8SGm4xMgVtOe9UXLo/edit)


### 4. Logs contain rich data, and you need a better way to manage it


Logs are captured for a number of reasons: audit/compliance, security (to monitor against abuse/attacks), and for troubleshooting when things go wrong. Logs are able to capture more information than metrics, but because they capture so much more information, users need a way of managing them, searching through them, and surfacing insights.

Another interesting finding: You use tracing when things aren’t running as expected and you want to find out what’s going on “under the hood.” It’s underutilized compared to logging.


[Full results](https://gitlab.com/gitlab-org/ux-research/issues/276)

### 5. Our billing processes just aren't cutting it

Our billing processes are optimized for large orgs, but don’t support the needs of small businesses as effectively or efficiently. Additionally, our true-up policy is not transparent. We saw customers mistakenly expect adding users to be automatically prorated, often leading to surprise charges at renewal time.

Finally, we have an opportunity to help more customers self-serve. Self-hosted customers must contact GitLab every time they want to add users to their license, creating friction for customers and taking up valuable support/sales time.

[Full results](https://gitlab.com/groups/gitlab-org/-/epics/1963)

## Join GitLab First Look
Did you recognize some of the above as your own needs and wants? Or did you disagree with everything completely?! Either way, we want to hear from you.

You can participate in interviews, surveys, beta tests, and more from the comfort of your own computer 💻✨Your feedback is incredibly important to us, and we hope you consider joining our research program, [GitLab First Look](https://about.gitlab.com/community/gitlab-first-look/).


This round-up was compiled using [research and analysis](https://docs.google.com/presentation/d/1nDFgGQpr6gLQ6wp8UC0WIdb_ZNWGSDCk1Dt8-dliduw/edit#slide=id.g651551733c_6_0) by Katherine Okpara, Tali Lavi, Amelia Bauerly, Iain Camacho, Eileen Ruberto, Lorie Whitaker, and Jeff Crow
{: .note}
