.container
  .row.slp-my-32
    .col-md-10.slp-m-auto.md:slp-flex.slp-items-stretch.slp-justify-center.slp-float-none.slp-p-0
      .col-md-6.slp-mb-32.slp-self-center.slp-order-last.md:slp-mb-48
        %img.slp-m-auto{src: partner.body_top_cta_img_1}
      .col-md-6.slp-self-center
        %h2.slp-text-xl.slp-font-normal.md:slp-text-xxl.sm:slp-text-center.slp-mb-8
          = partner.body_top_title
        %p.slp-text-base.slp-font-normal.sm:slp-text-center
          = partner.body_top_description
        .slp-btn-group.slp-space-x-4.md:slp-flex
          - if partner.body_top_cta_1_url != nil
            %a.slp-btn.sm:slp-w-100{ href: "#{partner.body_top_cta_1_url}" }
              = partner.body_top_cta_1_text
          - if partner.body_top_cta_2_url != nil    
            %a.slp-btn.slp-btn--secondary.sm:slp-w-100.sm:slp-m-0{ href: "#{partner.body_top_cta_2_url}" }
              = partner.body_top_cta_2_text
